@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-caption {
    @apply text-[0.6875rem] leading-[1.2] font-normal;
  }

  .text-body-small {
    @apply text-[0.875rem] leading-[1.4] font-normal text-text-primary;
  }

  .text-heading-small {
    @apply text-[0.875rem] leading-[1.4] font-bold text-text-primary;
  }

  .text-body {
    @apply text-base font-normal text-text-primary antialiased break-keep text-pretty;
  }

  .text-heading-medium {
    @apply text-base leading-[1.5] font-bold text-text-primary;
  }

  .text-link {
    @apply sm:text-[1.125rem] text-[0.875rem] leading-[1.5] font-medium text-text-primary antialiased no-underline;
  }

  .text-hero {
    @apply text-[1rem] sm:text-[1.5rem] leading-[1.4] font-medium antialiased text-text-primary;
  }
  .text-heading-large {
    @apply text-[2rem] md:text-[2.25rem] leading-[1.2] font-medium text-text-primary;
  }
  .text-quote {
    @apply text-[1.125rem] leading-[1.5] font-medium text-text-secondary;
  }
  .text-productname {
    @apply font-bold text-text-secondary;
  }
}

/* Base styles */
body {
  @apply font-geist bg-bg-primary text-text-primary;
}

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 240, 6%, 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
